#messageFlow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
}

.component {
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    flex: 1; /* Allows for equal width of components */
}

.arrow {
    margin: 0 10px;
    font-size: 24px;
}

.active {
    background-color: #9f9;
}

.idle {
    background-color: #ff9;
}

.error {
    background-color: #f99;
}
/* Table styles */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #04AA6D;
    color: white;
}

/* Additional styles for positioning and visual separation */
.component-group {
    display: flex;
    align-items: center;
}
.vertical-group {
    display:flex;
    flex-direction: column;
}